{% extends 'base.html' %}

{% block content %}<br/>

{% if records %}
<h3 >Customer Records </h3>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">postcode</th>
        <th scope="col">Created At</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      
  
      {% for record in records %}
          <tr>
              <td>{{ record.first_name }} {{ record.last_name }}</td>
              <td>{{ record.email }}</td>
              <td>{{ record.phone }}</td>
              <td>{{ record.address }}</td>
              <td>{{ record.city }}</td>
              <td>{{ record.state }}</td>
              <td>{{ record.postcode }}</td>
              <td>{{ record.created_at }}</td>

                <td style="width: 100px;"><a href="{% url 'update_record' record.id %}" class="btn text-secondary px-0">
                  <i class="far fa-edit fa-lg"></i>
              </a>
              <form action="{% url 'delete_record' record.id %}" method="post" class="d-inline">
                {% csrf_token %}
                  <button type="submit" class="btn">
                      <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                  </button>

              </a></td>
          </tr>
      {% endfor %}
  
      
        </tbody>
      </table>

      {% else %}

    </h3>No Records...</h3>

  {% endif %}


{% endblock %}